.mynav{
    background-image: linear-gradient(white,rgb(90, 88, 88));
    border: 2px solid ;
    
    
}

.container{
    margin-top: 5px;
}
.secondbtn{
    margin-left: 50px;
}
.third{
    margin-left: 50px;
}
.fourth{
    margin-left: 50px;
}
/*body{
    background-image: linear-gradient(skyblue,pink);
}*/
.dark{
   margin-top: -40px;
    margin-left: 1230px;
}
.about{
    color:black;
    margin-top: -38px;
    margin-left: 300px;
    cursor: pointer;
}
.home{
    position: absolute;
    color: black;
    margin-top: 3px;
    margin-left: 150px;
    cursor: pointer;
}
.card-text{
    
    color: black;
}
.mycard{
    width: 800px;
    margin-top: 50px;
}
